* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header, .main, .images, 
.paragraph, #p1-p2,
.sign-up, .sign-container {
	display: flex;
}

header, .main {
	background: #1F2937;
}

header {
	padding: 10px 20px;
	justify-content: space-around;
}

.header-logo, nav {
	margin: 30px 10px 100px;
}

.header-logo {
	font-size: 20px;
}

.header-logo, a{
	color: wheat;
}

a {
	text-decoration: none;
	margin: 15px; 
}

.main {
	justify-content: center;
	gap: 80px;
	margin-bottom: 60px;
}

.content {
	width: 35%;
}

h1 {
	font-size: 48px;
	text-align: left;
}

.content>p {
	margin-top: 5px;
	color: wheat;	
	font-size: 25px;
	text-align: left;
}

#button-main {
	color: white;
	margin-top: 25px;
	height: 50px;
	width: 150px;
	border-radius: 15px;
	font-weight: bold;
	font-size: 18px;
	background: #3882F6;
	border: none;
}

#image1 {
	margin-bottom: 100px;
	width: auto;
}

.information {
	text-align: center;
	margin-bottom: 40px;
}

.images {
	justify-content: center;
	gap: 40px;
}

.title {
	margin-bottom: 40px;
	font-size: 36px;
	color: #1F2937;
}

.image {
	width: 300px;
	height: 300px;
	border-radius: 20px;
}

.image-information>p {
	margin-top: 20px;
 	color: #1F2937;
	font-weight: bold;
	font-size: 20px;
}

.paragraph {
	background: #E5E7EB;
	justify-content: flex-start;
	height: 300px;
	margin-bottom: 80px;
}

#p1-p2 {
	flex-direction: column;
	font-size: 36px;
	text-align: center;
	justify-content: center;	
	padding: 10px 100px;
/*not found, font-family: ligh italic;*/
}

#p2 {
	align-self: flex-end;
	margin-top: 10px;	
}

.sign-up {
	justify-content: center;
}

.sign-container {
	width: 80%;
	height: 200px;
	margin-bottom: 50px;
	justify-content: space-around;
	padding: 70px;
	background: #2550F1;
	border-radius: 10px;
}

.txt-sign-up, .sign-container>button {
	font-size: 25px;
	color: white;
}

.sign-container>button {
	height: 50px;
	width: 200px;
	background: #1122F6;
	border-radius: 10px;
}

footer {
	background: #1F2937;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #F9FAF8;
}
